<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Startup - trucks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" colspan="18">Trucks</th>
            </tr>
            <tr>
                <th class="text-center active" colspan="3"></th>
                <th class="text-center success" colspan="5">Contact</th>
                <!--<th class="text-center warning" colspan="3">Pictures</th>-->
                <th class="text-center"></th>
                <th class="text-center danger" colspan="1">Category</th>
                <!--<th class="text-center danger" colspan="2">Category</th>-->
                <!--<th class="text-center info" colspan="4">Payment</th>-->
            </tr>
            <tr>
                <th class="text-center active">Name</th>
                <th class="text-center active">Description</th>
                <th class="text-center active">Address</th>
                <th class="text-center success">Phone</th>
                <th class="text-center success">Email</th>
                <th class="text-center success">Facebook</th>
                <th class="text-center success">Instagram</th>
                <th class="text-center success">Site</th>
                <!--<th class="text-center warning">Logo</th>-->
                <!--<th class="text-center warning">Main</th>-->
                <!--<th class="text-center warning">Truck</th>-->
                <th class="text-center ">Menu</th>
                <th class="text-center danger">Name</th>
                <!--<th class="text-center danger">Description</th>-->
                <!--<th class="text-center info">Credit</th>-->
                <!--<th class="text-center info">Debit</th>-->
                <!--<th class="text-center info">Ticket</th>-->
                <!--<th class="text-center info">Money</th>-->
            </tr>
        </thead>
        <tbody>
            {% for t in trucks %}
                <tr>
                    <td>
                        {{t.Name}}
                    </td>
                    <td>
                        {{t.Description}}
                    </td>
                    <td>
                        {{t.Address}}
                    </td>
                    <td>
                        {% for p in t.Contact.Phone %}
                            <a href="tel:{{p}}">{{p}}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for e in t.Contact.Email %}
                            <a href="mailto:{{e}}">{{e}}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{t.Contact.Facebook}}" target="_blank">{{t.Contact.Facebook}}</a>

                    </td>
                    <td>
                        <a href="{{t.Contact.Instagram}}" target="_blank">{{t.Contact.Instagram}}</a>
                    </td>
                    <td>
                        <a href="{{t.Contact.Site}}" target="_blank">{{t.Contact.Site}}</a>
                    </td>
                    <!--<td>-->
                        <!--{{t.Pictures.Logo}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{t.Pictures.Main}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{% for tr in t.Pictures.Truck %}-->
                            <!--<a href="{{tr}}">foto</a>-->
                        <!--{% endfor %}-->
                    <!--</td>-->
                    <td>
                        {{t.Menu}}
                    </td>
                    <td>
                        {{t.Category.Name}}
                    </td>
                    <!--<td>-->
                        <!--{{t.Category.Description}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{cv(t.Payment.Credit)}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{cv(t.Payment.Debit)}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{cv(t.Payment.Ticket)}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{t.Payment.Money}}-->
                    <!--</td>-->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
